#menu_first {
  height: 40px;
  border-bottom: 1px solid $border-gray;

  .logo {
    height: 100%;
    width: 114px;
    background-image: url('../images/BBC-logo.svg');
    background-position: center center;
    background-repeat: no-repeat;
    float: left;

    a {
      display: block;
      height: 100%;
      color: rgba(0, 0, 0, 0);
    }
  }
}

#bbc_headline {
  height: 56px;
  background-color: $bg-red;
}

#menu_second {
  height: 36px;
  background-color: $bg-red;
}

#menu_third {
  height: 40px;
}
