#menu_first {
  height: 40px;
  border-bottom: 1px solid $border-gray;
  font-size: 1.3em;
  font-weight: 700;

  .logo {
    float: left;
    width: 114px;
    height: 100%;
    background-image: url('../images/BBC-logo.svg');
    background-position: center center;
    background-repeat: no-repeat;

    a {
      display: block;
      height: 100%;
      color: rgba(0, 0, 0, 0);
    }
  }

  .sign_in {
    float: left;
    width: 177px;
    height: 100%;
    border-right: 1px solid black;
    border-left: 1px solid black;
    box-sizing: border-box;

    &:hover {
      border-bottom: 4px solid #18B;
    }

    a {
      display: block;
      height: 100%;
      padding: 6px 9px 6px 42px;
      box-sizing: border-box;
      line-height: 2.27em;
      background-image: url('../images/sign-in.svg');
      background-position: 14px 11px;
      background-repeat: no-repeat;
      background-size: 22px;
    }
  }

  .nav {
    float: left;
    height: 100%;

    ul {
      overflow: hidden;
      height: 100%;

      li {
        display: block;
        float: left;
        height: 100%;
        list-style: none;

        a {
          display: block;
          height: 100%;
          padding: 14px 21px;
          box-sizing: border-box;
        }
      }
    }
  }
}

#bbc_headline {
  height: 56px;
  background-color: $bg-red;
}

#menu_second {
  height: 36px;
  background-color: $bg-red;
}

#menu_third {
  height: 40px;
}
