#menu_first {
  height: 40px;
  border-bottom: 1px solid $border-gray;
}

#bbc_headline {
  height: 56px;
  background-color: $bg-red;
}

#menu_second {
  height: 36px;
  background-color: $bg-red;
}

#menu_third {
  height: 40px;
}
