body {
  font: 100% Courier New;
  margin: 20px;
  line-height: 26px;
  background-color: #000;
}

.wrapper {
  position: relative;
  overflow: auto;
}

header {
  color: #84C754;
  padding: 15px;
}

#main {
  padding: 10px;
  color: #84C754;
}

#sidebar {
  color: #FFF;
  border: 1px solid #FFF;
  border-radius: 4px;
  padding: 10px;
  width: 320px;
  top: 0;
  right: 0;
  position: absolute;
  font-size: 80%;
  line-height: 20px;
}

footer {
  border: 1px solid #FFF;
  border-radius: 4px;
  color: #FFF;
  text-align: center;
  padding: 10px;
  font-size: 70%;
  line-height: 14px;
}

header h1,
header p {
  margin: 0;
}

.menuitem {
  color: #84C754;
  cursor: pointer;
}

.menuitem:nth-child(4) {
  color: #FFF;
  font-weight: bold;
}

.menuitem:hover {
  color: #FFF;
}

a {
  color: #FFF;
}

a:hover {
  color: #84C754;
}
@media (max-width: 600px) {
  #sidebar {
    width: auto;
    margin-bottom: 10px;
    position: relative;
 }
}
