/* line 1, ../sass/_tags.scss */
body {
  font-family: Helvetica, Arial, FreeSans, sans-serif;
  font-size: 62.5%;
  line-height: 1;
}

/* line 7, ../sass/_tags.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 12, ../sass/_tags.scss */
a {
  text-decoration: none;
}

/* line 1, ../sass/_classes.scss */
.center {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
}

/* line 1, ../sass/_ids.scss */
#menu_first {
  height: 40px;
  border-bottom: 1px solid #CCC;
  font-size: 1.3em;
  font-weight: 700;
}
/* line 7, ../sass/_ids.scss */
#menu_first .logo {
  float: left;
  width: 114px;
  height: 100%;
  background-image: url("../images/BBC-logo.svg");
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 15, ../sass/_ids.scss */
#menu_first .logo a {
  display: block;
  height: 100%;
  color: rgba(0, 0, 0, 0);
}
/* line 22, ../sass/_ids.scss */
#menu_first .sign_in {
  float: left;
  width: 177px;
  height: 100%;
  border-right: 1px solid #CCC;
  border-left: 1px solid #CCC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* line 30, ../sass/_ids.scss */
#menu_first .sign_in:hover {
  border-bottom: 4px solid #18B;
}
/* line 34, ../sass/_ids.scss */
#menu_first .sign_in a {
  display: block;
  height: 100%;
  padding: 6px 9px 6px 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 2.27em;
  background-image: url("../images/sign-in.svg");
  background-position: 14px 11px;
  background-repeat: no-repeat;
  background-size: 22px;
}
/* line 47, ../sass/_ids.scss */
#menu_first .nav {
  float: left;
  height: 100%;
}
/* line 51, ../sass/_ids.scss */
#menu_first .nav ul {
  overflow: hidden;
  height: 100%;
}
/* line 55, ../sass/_ids.scss */
#menu_first .nav ul li {
  display: block;
  float: left;
  height: 100%;
  list-style: none;
}
/* line 61, ../sass/_ids.scss */
#menu_first .nav ul li a {
  display: block;
  height: 100%;
  padding: 14px 21px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 72, ../sass/_ids.scss */
#bbc_headline {
  height: 56px;
  background-color: #BB1919;
}

/* line 77, ../sass/_ids.scss */
#menu_second {
  height: 36px;
  background-color: #BB1919;
}

/* line 82, ../sass/_ids.scss */
#menu_third {
  height: 40px;
}
